// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	background-image: image-url("wood-bg.jpg");
}

body {
	margin:0px;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	padding-left: 40px;
}

.content {
	height: 100vh;
}

ul {
	list-style-type: none;
	width: 87%;
}

li {
	position: relative;
	height: 35px;
  color: #6E6E6E;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin: 8px 0px;
  &:hover {
  	box-shadow: 4px 4px 5px rgba(136, 136, 136, 0.56);
  }
	input[type="checkbox"] {
    margin: 0px 15px;
    vertical-align: middle;
    height: 35px;
    cursor: pointer;
	}
	input[type="text"] {
		display: none;
		padding: 0px 17px;
    position: relative;
    top: 1px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
    border: none;
    width: 75%;
	}
	.delete {
		position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
	}
	span {
		position: absolute;
    top: 6px;
    left: 59px;
    &:hover {
    	background-color: rgb(255, 253, 180);
    }
	}
}

.todo-container {
	width: 50%;
  height: 80%;
  background: #FAFAFA;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.new-todo-container {
  width: 50%;
  background: linear-gradient(180deg, white, #dddddd);
  border-top: 1px solid #ECECEC;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.new-todo-section {
	input {
		margin: 0px 0px 0px 40px;
    width: 64%;
    height: 25px;
    font-size: 17px;
    padding: 0px 10px;
    color: #6E6E6E;
	}
	.new-todo-button {
		margin-left: 15px;
    display: inline-block;
    background: linear-gradient(180deg, #4adfc1, #74BAAC);
    border-radius: 20px;
    text-align: center;
    padding: 5px 20px;
    font-size: 15px;
    border: 1px solid #C7C4C4;
    color: #F8F8F8;
    cursor: pointer;
	}
}